@using Spruce.Core
<!DOCTYPE html>
<html>
<head>
	<title>Project @ViewData["CurrentProjectName"]</title>
	<link rel="shortcut icon" href="@Url.Content("~/Assets/Images/favicon.png")" />

	<script type="text/javascript" language="javascript" src="@Url.Content("~/Assets/Scripts/jquery-1.4.1.min.js")"></script>
	<script type="text/javascript" language="javascript" src="@Url.Action("GlobalJsVars","Home")"></script>
	<script type="text/javascript" src="@Url.Content("~/Assets/Scripts/spruce.js")"></script>

	<link href="@Url.Content("~/Assets/CSS/spruce2.css")" rel="stylesheet" type="text/css" media="Screen" />
	<link href="@Url.Content("~/Assets/CSS/spruce.mobile.css")" rel="stylesheet" type="text/css" media="handheld" />
</head>

<body>
@using (Html.BeginForm("Index","Search", FormMethod.Get))
{
	<div id="header">		
		<div class="left">
			<a href="javascript:;" id="togglemenu"><img src="@Url.Content("~/Assets/Images/arrow-down.png")" border="0" alt="toggle" /></a>
			@Html.ActionLink("Dashboard","Index","Home")
			&nbsp;|&nbsp;@Html.ActionLink("Bugs", "Index", "Bugs")
			&nbsp;|&nbsp;@Html.ActionLink("Tasks", "Index", "Tasks")
			&nbsp;|&nbsp;@Html.ActionLink("New task","New","Tasks")
			&nbsp;|&nbsp;@Html.ActionLink("New bug","New","Bugs")
		</div>
		
		<div class="right">
			Logged in as @ViewData["CurrentUser"]
			&nbsp;|&nbsp;Search: @Html.TextBox("q", null, new { placeholder = "Enter text to search" })
		</div>
	</div>
}

	@Html.Partial("PopoutBlock")

	<div id="main-container">
			<div id="project-name">Project @ViewData["CurrentProjectName"]</div>
			<div id="areaiteration-name">@Html.FormatAreaAndIterationName(ViewData["CurrentIterationName"], ViewData["CurrentAreaName"])</div>
			@RenderBody()
	</div>
</body>
</html>
