@using Spruce.Core
<!DOCTYPE html>
<html>
<head>
	<title>Project @ViewData["CurrentProjectName"]</title>
	<link href="@Url.Content("~/Assets/CSS/spruce.mobile.css")" rel="stylesheet" type="text/css" />
	<script type="text/javascript" language="javascript" src="@Url.Content("~/Assets/Scripts/jquery-1.4.1.min.js")"></script>
	<script type="text/javascript">
		$(document).ready(function ()
		{
			$("#navigation-header a").click(function ()
			{
				$("#navigation").toggle();
			});
			$("#projects-header a").click(function ()
			{
				$("#projects").toggle();
			});
			$("#iterations-header a").click(function ()
			{
				$("#iterations").toggle();
			});
			$("#areas-header a").click(function ()
			{
				$("#areas").toggle();
			});
		});
	</script>
</head>

<body>

<span class="smaller">Logged in as @ViewData["CurrentUser"]</span>

<div id="navigation-container">
	<div id="navigation-header" class="header"><a href="javascript:;">&#187; Navigation</a></div>
	<div id="navigation" class="hidden">
		<div class="block">
		@using (Html.BeginForm("Index","Search", FormMethod.Get))
		{
			@Html.TextBox("search", null, new { placeholder = "Enter text to search" })
		}
		</div>

		<div class="block">
		@Html.ActionLink("Dashboard","Index","Home")
		&nbsp;|&nbsp;@Html.ActionLink("Bugs", "Index", "Bugs")
		&nbsp;|&nbsp;@Html.ActionLink("Tasks", "List", "Tasks")
		&nbsp;|&nbsp;@Html.ActionLink("New bug","New","Bugs")
		&nbsp;|&nbsp;@Html.ActionLink("New task","New","Tasks")
		</div>

		<div class="block">
			<div id="projects-header" class="header"><a href="javascript:;">Projects</a></div>
			<div id="projects" class="hidden">
			@foreach (string projectName in (List<string>)ViewData["Projects"])
			{
				if (projectName != (string)ViewData["CurrentProjectName"])
				{
					@Html.ActionLink(projectName, "SetProject", "Home", new { id = projectName.ToBase64(), fromUrl = Request.Url }, null) <br />
				}
				else
				{
					<b>@projectName</b><br />
				}
			}
			</div>
		</div>

		<div class="block">
			<div id="iterations-header" class="header"><a href="javascript:;">Iterations</a></div>
			<div id="iterations" class="hidden">
			@foreach (IterationSummary summary in (List<IterationSummary>)ViewData["Iterations"])
			{
				if (summary.Path != (string)ViewData["CurrentIterationPath"])
				{
					@Html.ActionLink(summary.Name, "SetIteration", "Home", new { id = summary.Path.ToBase64(), fromUrl = Request.Url }, null)<br />
				}
				else
				{
					<b>@summary.Name</b><br />
				}
			}
			</div>
		</div>

		<div class="block" id="areascontainer">
			<div id="areas-header" class="header"><a href="javascript:;">Areas</a></div>
			<div id="areas" class="hidden">
			@foreach (AreaSummary area in (List<AreaSummary>)ViewData["Areas"])
			{
				if (area.Path != (string)ViewData["CurrentAreaPath"])
				{
					@Html.ActionLink(area.Name, "SetArea", "Home", new { id = area.Path.ToBase64(), fromUrl = Request.Url })<br />
				}
				else
				{
					<b>@area.Name</b><br />
				}
			}
			</div>
		</div>
	</div>
</div>

@RenderBody()

<div class="hidden">
@RenderSection("RightContent",false)
</div>
</body>
</html>
