<div id="popoutmenu">
	<div id="dropshadow"></div>
	<div class="container">
		<div class="list">
			<h3>Projects</h3>
			<span class="selected">@ViewData["CurrentProjectName"]</span><br />
			@foreach (string projectName in (List<string>)ViewData["Projects"])
			{
				if (projectName != (string) ViewData["CurrentProjectName"])
				{
					@Html.ActionLink(projectName, "SetProject", "Home", new { id = projectName.ToBase64(), fromUrl = Request.Url }, null) <br />
				}			
			}
		</div>
		<div class="list">
			<h3>Iterations</h3>
			<span class="selected">@ViewData["CurrentIterationName"]</span><br />
			@foreach (IterationSummary summary in (List<IterationSummary>)ViewData["Iterations"])
			{
				if (summary.Path != (string) ViewData["CurrentIterationPath"])
				{
					@Html.ActionLink(summary.Name, "SetIteration", "Home", new { id = summary.Path.ToBase64(), fromUrl = Request.Url }, null)<br />
				}
			}
		</div>
		<div class="list">
			<h3>Areas</h3>
			<span class="selected">@ViewData["CurrentAreaName"]</span><br />
			@foreach (AreaSummary area in (List<AreaSummary>)ViewData["Areas"])
			{
				if (area.Path != (string) ViewData["CurrentAreaPath"])
				{
					@Html.ActionLink(area.Name, "SetArea", "Home", new { id = area.Path.ToBase64(), fromUrl = Request.Url },null)<br />
				}
			}
		</div>
		<div class="list">
			<h3>Filters</h3>
			<span class="selected">@ViewData["CurrentFilter"]</span><br />
			@foreach (FilterTypeSummary filter in (List<FilterTypeSummary>)ViewData["Filters"])
			{
				if (filter.Name != (string)ViewData["CurrentFilter"])
				{
					@Html.ActionLink(filter.Description, "SetFilter", "Home", new { id = filter.Name, fromUrl = Request.Url }, null)<br />
				}
			}
		</div>
	</div>
</div>