@model DashboardSummary

<div id="dashboard">
	<h2>@UserContext.Current.CurrentProject.Name</h2>

	<div id="summary">
		<div class="number-row">
			<div class="number">@Model.BugCount</div> total bug(s)
		</div>
		<div class="number-row">
			<div class="number">@Model.ActiveBugs</div> active bug(s)
		</div>
		<div class="number-row">
			<div class="number">@Model.TaskCount</div> total task(s)
		</div>
		<div class="number-row">
			<div class="number">@Model.ActiveTasks</div> active task(s)
		</div>
		<div class="number-row">
			<div class="number">@Model.MyActiveBugCount</div> active bugs assigned to you
		</div>
	</div>

	<h2>My bugs</h2>

	@if (Model.MyActiveBugs.Count == 0)
	{
		<p>You have no active bugs assigned to you right now.</p>
	}
	else
	{
		foreach (WorkItemSummary summary in Model.MyActiveBugs)
		{
		<div class="dashboarditem">
			<div class="left">@Html.ActionLink(summary.Id.ToString(), "View", "Bugs", new { id = summary.Id }, null)</div>
			<div class="left">@summary.Title</div>
			<br class="clear" />
		</div>
		}
	}

	<h2>My tasks</h2>
	@if (Model.MyActiveTasks.Count == 0)
	{
		<p>You have no active tasks assigned to you right now.</p>
	}
	else
	{
		foreach (WorkItemSummary summary in Model.MyActiveTasks)
		{
		<div class="dashboarditem">
			<div class="left">@Html.ActionLink(summary.Id.ToString(), "View", "Tasks", new { id = summary.Id }, null)</div>
			<div class="left">@summary.Title</div>
			<br class="clear" />
		</div>
		}
	}

	<h2>Recent checkins</h2>
	@if (Model.RecentCheckins.Count == 0)
	{
		<p>There are no checkins yet.</p>
	}
	else
	{
		foreach (Spruce.Core.ChangesetSummary summary in Model.RecentCheckins)
		{
		<div class="dashbord-checkintem">
			<div class="left changesetid">@Html.ActionLink(summary.Id.ToString(), "Changeset", "Home", new { id = summary.Id }, null)</div>
			<div class="left changesetdetails">
				@(!string.IsNullOrEmpty(summary.Message) ? summary.Message : "(No message)")
				<br/>

				<div class="smaller dimmed changesetuser">
					<span class="timeago" title="@summary.Date.ToString("U")">@summary.Date.ToString("U")</span>
					by @summary.User
				</div>
			</div>
			<br class="clear" />
		</div>
		}
	}
	<br /><br />
</div>
