@model DashboardSummary

<div id="dashboard">
	<h2>@UserContext.Current.CurrentProject.Name</h2>

	<div class="left bold smaller" style="width:100px;margin-right:20px">Bug count:</div>
	<div class="left smaller">@Model.BugCount</div>
	<br class="clear" />

	<div class="left bold smaller" style="width:100px;margin-right:20px">Active bugs:</div>
	<div class="left smaller">@Model.ActiveBugs</div>
	<br class="clear" />

	<div class="left bold smaller" style="width:100px;margin-right:20px">Tasks count:</div>
	<div class="left smaller">@Model.TaskCount</div>
	<br class="clear" />

	<div class="left bold smaller" style="width:100px;margin-right:20px">Active tasks:</div>
	<div class="left smaller">@Model.ActiveTasks</div>
	<br class="clear" />

	<div class="left bold smaller" style="width:100px;margin-right:20px">My active bugs:</div>
	<div class="left smaller">@Model.MyActiveBugCount</div>
	<br class="clear" />
	<br />

	<h2>My bugs</h2>

	@if (Model.MyActiveBugs.Count == 0)
	{
		<p>You have no active bugs assigned to you right now.</p>
	}
	else
	{
		foreach (WorkItemSummary summary in Model.MyActiveBugs)
		{
		<div>
			<div class="left" style="width:80px;">@summary.Id</div>
			<div class="left">@Html.ActionLink(summary.Title, "View", "Bugs", new { id = summary.Id }, null)</div>
		</div>
		<br class="clear" />
		}
	}

	<h2>My tasks</h2>
	@if (Model.MyActiveTasks.Count == 0)
	{
		<p>You have no active tasks assigned to you right now.</p>
	}
	else
	{
		foreach (WorkItemSummary summary in Model.MyActiveTasks)
		{
		<div>
			<div class="left" style="width:80px;">@summary.Id</div>
			<div class="left">@Html.ActionLink(summary.Title, "View", "Tasks", new { id = summary.Id }, null)</div>
		</div>
		<br class="clear" />
		}
	}

	<h2>Recent checkins</h2>
	@if (Model.RecentCheckins.Count == 0)
	{
		<p>There are no checkins yet.</p>
	}
	else
	{
		foreach (Spruce.Core.ChangesetSummary summary in Model.RecentCheckins)
		{
		<div class="left bold" style="width:80px">@Html.ActionLink(summary.Id.ToString(),"Changeset",new {id=summary.Id})</div>
		<div class="left"><span class="timeago" title="@summary.Date.ToString("U")">@summary.Date.ToString("U")</span> - @(!string.IsNullOrEmpty(summary.Message) ? summary.Message : "(No message)")</div>
		<br class="clear" />
		<div class="smaller dimmed" style="margin-left:80px">by @summary.User</div>
		<br class="clear" />
		}
	}
	<br /><br />
</div>