@model ListData<WorkItemSummary>

<span class="searchresults">Search result(s) for <b>@ViewData["search"]</b></span>

<div id="searchagain-box">
@using (Html.BeginForm("Index", "Search", FormMethod.Get))
{
	<div>
		@Html.TextBox("id", ViewData["search"], new { @class = "searchbox" })
		<input type="submit" value="search" />
	</div>
}
</div>

<div style="width:100%">
	<div class="left" style="width:75%">
		<table id="list-table">
			<thead>
				<tr id="list-table-header">
					<th>
						<div>@Html.ActionLink("Title", "Index", new { sortBy = "Title", desc = Model.FilterValues.IsDescending})</div>
					</th>
					<th style="width:8%;">
						<div>@Html.ActionLink("ID", "Index", new { sortBy = "Id", desc = Model.FilterValues.IsDescending })</div>
					</th>
					<th style="width:15%">
						<div>@Html.ActionLink("Assigned to", "Index", new { sortBy = "AssignedTo", desc = Model.FilterValues.IsDescending })</div>
					</th>
					<th style="width:15%">
						<div>@Html.ActionLink("Created on", "Index", new { sortBy = "CreatedDate", desc = Model.FilterValues.IsDescending })</div>
					</th>
					<th style="width:12%">
						<div>@Html.ActionLink("Status", "Index", new { sortBy = "State", desc = Model.FilterValues.IsDescending })</div>
					</th>
					<th style="width:10%">
						<div class="list-table-noborder"></div>
					</th>
				</tr>
			</thead>
			<tbody>
			@foreach (WorkItemSummary item in Model.WorkItems)
			{
				<tr id="list-table-row">
					<td>
						<div>@item.Title</div>
					</td>
					<td>
						<div>@Html.ActionLink(item.Id.ToString(), "View", item.Controller, new { id = item.Id })</div>
					</td>
					<td style="width:15%">
						<div>@item.AssignedTo</div>
					</td>
					<td style="width:15%">
						<div>@item.CreatedDate.ToString("ddd dd MMM yyyy")</div>
					</td>
					<td>
						<div>@item.State</div>
					</td>
					<td style="width:10%">
						<div class="list-table-noborder">
							@Html.ActionLink("Edit", "Edit", item.Controller, new { id = item.Id, fromUrl = Request.Url.PathAndQuery })
						</div>
					</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
</div>
<br class="clear" /><br />
@Html.Partial("PagingBar", new[] { Model.FilterValues.PageCount, Model.FilterValues.CurrentPage })