@model IEnumerable<WorkItemSummary>

<h3>Saved TFS queries</h3>

@using (Html.BeginForm("StoredQuery", "Home", FormMethod.Get))
{
	@Html.DropDownBoxForStoredQueries("id", UserContext.Current.CurrentProject.StoredQueries, (Guid) ViewData["CurrentQuery"], 0)
	<input type="submit" value="Display" />
}
<br /><br />

<div style="width:100%">
	<div class="left" style="width:75%">
		<table id="list-table">
			<thead>
				<tr id="list-table-header">
					<th>
						<div>@Html.ActionLink("Title", "Index", new { sortBy = "Title", desc = !(bool)ViewData["desc"] })</div>
					</th>
					<th style="width:8%;">
						<div>@Html.ActionLink("ID","Index",new { sortBy = "Id", desc = !(bool)ViewData["desc"]})</div>
					</th>
					<th style="width:15%">
						<div>@Html.ActionLink("Assigned to", "Index", new { sortBy = "AssignedTo", desc = !(bool)ViewData["desc"] })</div>
					</th>
					<th style="width:15%">
						<div>@Html.ActionLink("Created on", "Index", new { sortBy = "CreatedDate", desc = !(bool)ViewData["desc"] })</div>
					</th>
					<th style="width:12%">
						<div>@Html.ActionLink("Status", "Index", new { sortBy = "State", desc = !(bool)ViewData["desc"] })</div>
					</th>
					<th style="width:12%">
						<div>@Html.ActionLink("Priority", "Index", new { sortBy = "Priority", desc = !(bool)ViewData["desc"] })</div>
					</th>
					<th style="width:12%">
						<div>@Html.ActionLink("Severity", "Index", new { sortBy = "Severity", desc = !(bool)ViewData["desc"] })</div>
					</th>
					<th style="width:10%">
						<div class="list-table-noborder"></div>
					</th>
				</tr>
			</thead>
			<tbody>
			@foreach (WorkItemSummary item in Model)
			{
				<tr id="list-table-row">
					<td>
						<div>@item.Title</div>
					</td>
					<td>
						<div>@Html.ActionLink(item.Id.ToString(), "View", new { id = item.Id })</div>
					</td>
					<td style="width:15%">
						<div>@item.AssignedTo</div>
					</td>
					<td style="width:15%">
						<div>@item.CreatedDate.ToString("ddd dd MMM yyyy")</div>
					</td>
					<td>
						<div>@item.State</div>
					</td>
					<td>
						<div>@item.Priority</div>
					</td>
					<td>
						<div>@item.Severity</div>
					</td>
					<td style="width:10%">
						<div class="list-table-noborder">
							@Html.ActionLink("Edit", "Edit", new { id = item.Id, fromUrl=Request.Url.PathAndQuery })
						</div>
					</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
</div>
<br class="clear" /><br />
@Html.Partial("PagingBar", new int[] { int.Parse(ViewData["pageCount"].ToString()), int.Parse(ViewData["currentPage"].ToString()) })