@model ListData

<h3>Stored Queries</h3>

@using (Html.BeginForm("StoredQuery", "Home", FormMethod.Get))
{
	@Html.DropDownBoxForStoredQueries("id", UserContext.Current.CurrentProject.StoredQueries, (Guid) ViewData["CurrentQueryId"], 0)
	<input type="submit" value="Display" />
}
<br /><br />

@if (Model.WorkItems.Count() > 0)
{
<div style="width:100%">
	<div class="left" style="width:75%">
		<table id="list-table">
			<thead>
				<tr id="list-table-header">
					<th>
						<div>@Html.ActionLink("Title", "StoredQuery", new { id = ViewData["CurrentQueryId"], sortBy = "Title", desc = Model.FilterValues.IsDescending })</div>
					</th>
					<th style="width:8%;">
						<div>@Html.ActionLink("ID", "StoredQuery", new { id = ViewData["CurrentQueryId"], sortBy = "Id", desc = Model.FilterValues.IsDescending })</div>
					</th>
					<th style="width:15%">
						<div>@Html.ActionLink("Assigned to", "StoredQuery", new { id = ViewData["CurrentQueryId"], sortBy = "AssignedTo", desc = Model.FilterValues.IsDescending })</div>
					</th>
					<th style="width:15%">
						<div>@Html.ActionLink("Created on", "StoredQuery", new { id = ViewData["CurrentQueryId"], sortBy = "CreatedDate", desc = Model.FilterValues.IsDescending })</div>
					</th>
					<th style="width:12%">
						<div>@Html.ActionLink("Status", "StoredQuery", new { id = ViewData["CurrentQueryId"], sortBy = "State", desc = Model.FilterValues.IsDescending })</div>
					</th>
					<th style="width:10%">
						<div class="list-table-noborder"></div>
					</th>
				</tr>
			</thead>
			<tbody>
			@foreach (WorkItemSummary item in Model.WorkItems)
			{
				<tr id="list-table-row">
					<td>
						<div>@item.Title</div>
					</td>
					<td>
						<div>@Html.ActionLink(item.Id.ToString(), "View", item.Controller, new { id = item.Id }, null)</div>
					</td>
					<td style="width:15%">
						<div>@item.AssignedTo</div>
					</td>
					<td style="width:15%">
						<div>@item.CreatedDate.ToString("ddd dd MMM yyyy")</div>
					</td>
					<td>
						<div>@item.State</div>
					</td>
					<td style="width:10%">
						<div class="list-table-noborder">
							@Html.ActionLink("Edit", "Edit", item.Controller, new { id = item.Id, fromUrl = Request.Url.PathAndQuery }, null)
						</div>
					</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
</div>
<br class="clear" /><br />
@Html.Partial("PagingBar", new[] { Model.FilterValues.PageCount, Model.FilterValues.CurrentPage })
}