@model List<WorkItemSummary>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function () {
		setupListPage();
	});
</script>

<span class="searchresults">Search result(s) for <b>@ViewData["search"]</b></span>

<div id="searchagain-box">
@using (Html.BeginForm("Index", "Search", FormMethod.Get))
{
	<div>
		@Html.TextBox("id", ViewData["search"], new { @class = "searchbox" })
		<input type="submit" value="search" />
	</div>
}
</div>

<table id="workitems-table">
	<thead>
		<tr class="midbg">
			<th style="width:5%">ID</th>
			<th style="width:60%">Title</th>
			<th style="width:20%">Assigned to</th>
			<th style="width:15%">Status</th>
		</tr>
	</thead>
	<tbody>
	@foreach (WorkItemSummary item in Model)
	{
		<tr>
			@if (item.IsBug)
			{
				<td>@Html.ActionLink(item.Id.ToString(), "View","Bugs", new { id = item.Id },null)</td>
			}
			else
			{
				<td>@Html.ActionLink(item.Id.ToString(), "View", "Tasks", new { id = item.Id }, null)</td>
			}
			<td>@item.Title</td>
			<td>@item.AssignedTo</td>
			<td>@item.State</td>
		</tr>
	}
	</tbody>
</table>