@model IEnumerable<WorkItemSummary>

<h3>Tasks</h3>
@Html.ActionLink("View as list","List")
<br /><br />

<div id="tasks-container">
	@foreach (WorkItemSummary item in Model)
	{
		string cssClass = "task";
		if (item.State == "Closed")
		{
			cssClass += " dimmed";
		}
		<div class="@cssClass">
			<h1 class="workitem-id">
				#@item.Id
			</h1>
			<p class="bold">
				@Html.ActionLink(item.Title.Shorten(60),"View",new { id = item.Id})
			</p>
			<p class="smaller">
				Assigned to @item.AssignedTo (@item.State)<br />
				<span class="smallest">@item.CreatedDate.ToShortDateString()</span>
			</p>
		
		</div>
	}
</div>