@model IEnumerable<WorkItemSummary>

<h3>Tasks</h3>

<form action="" method="get" id="filterform">
@Html.Hidden("sortBy",Request.QueryString["sortBy"])
@Html.Hidden("desc",Request.QueryString["desc"])
<div style="width:100%">
	<table id="list-table">
		<thead>
			<tr id="list-table-header">
				<th>
					<div>@Html.TableSortLink("Title","Title")</div>
				</th>
				<th style="width:8%;">
					<div>@Html.TableSortLink("ID","Id")</div>
				</th>
				<th style="width:15%">
					<div>@Html.TableSortLink("Assigned to", "AssignedTo")</div>
				</th>
				<th style="width:15%">
					<div>@Html.TableSortLink("Created on", "CreatedDate")</div>
				</th>
				<th style="width:12%">
					<div>@Html.TableSortLink("Status", "State")</div>
				</th>
				<th style="width:10%">
					<div class="list-table-noborder"></div>
				</th>
			</tr>
		</thead>
		<!-- Filter bar -->
		<tr style="height:5px;background-color:#EEE;">
			<td class="help" help="Filter by title.">@Html.TextBox("title", Request.QueryString["title"], new { placeholder = "title" })</td>
			<td></td>
			<td style="width:15%;" class="help"  help="Filter by assigned to. Use 'me' or the login name.">
				@Html.TextBox("assignedTo", Request.QueryString["assignedTo"], new { placeholder = "assigned to" })
			</td>
			<td style="width:15%" class="help"  help="Filter by start/end date. You can use today, yesterday, thisweek, thismonth, lastmonth or standard dates.">
				@Html.TextBox("startDate", Request.QueryString["startDate"], new { placeholder = "start" })
				@Html.TextBox("endDate", Request.QueryString["endDate"], new { placeholder = "end" })
			</td>
			<td class="help" help="Filter by the status.">
				@Html.DropDownList("status", new Dictionary<string, string>() { { "All", "All" }, { "Active", "Active" },{ "Closed", "Closed" } }, Request.QueryString["status"])
			</td>
			<td></td>
			<td></td>
			<td style="width:10%"></td>
		</tr>
		<tbody>
		@foreach (WorkItemSummary item in Model)
		{
			<tr id="list-table-row">
				<td>
					<div>@item.Title</div>
				</td>
				<td>
					<div>@Html.ActionLink(item.Id.ToString(), "View", new { id = item.Id })</div>
				</td>
				<td style="width:15%">
					<div>@item.AssignedTo</div>
				</td>
				<td style="width:15%">
					<div>@item.CreatedDate.ToString("ddd dd MMM yyyy")</div>
				</td>
				<td>
					<div>@item.State</div>
				</td>
				<td style="width:10%">
					<div class="list-table-noborder">
						@Html.ActionLink("Edit", "Edit", new { id = item.Id, fromUrl = Request.Url.PathAndQuery })
					</div>
				</td>
			</tr>
		}
		</tbody>
	</table>
</div>
</form>

<br style="clear:both" />
@Html.Partial("PagingBar", new int[] { int.Parse(ViewData["pageCount"].ToString()), int.Parse(ViewData["currentPage"].ToString()) })

<br /><br />

@Html.Partial("Footer")