@model List<WorkItemSummary>

<style type="text/css">
.task { background-image: url('@Url.Content("~/Assets/Images/stickynote-large.png")');width:185px;height:188px;padding:20px;float:left; }
</style>

<div id="tasks-container">
	@foreach (WorkItemSummary item in Model)
	{
		string cssClass = "task";
		if (item.State == "Closed")
		{
			cssClass += " dimmed";
		}
		<div class="@cssClass">
			<h1 class="workitem-id">
				#@item.Id
			</h1>
			<p class="bold">
				@Html.ActionLink(item.Title.Shorten(60),"View",new { id = item.Id})
			</p>
			<p class="smaller">
				Assigned to @item.AssignedTo (@item.State)<br />
				<span class="smallest">@item.CreatedDate.ToShortDateString()</span>
			</p>
		
		</div>
	}
</div>