@model IEnumerable<WorkItemSummary>

<h3>Tasks</h3>
@Html.ActionLink("View as notes","Index")
<br /><br />

<table id="list-table">
	<thead>
		<tr id="list-table-header">
			<th>
				<div>Title</div>
			</th>
			<th style="width:12%;">
				<div>ID</div>
			</th>
			<th style="width:15%">
				<div>Assigned to</div>
			</th>
			<th style="width:12%">
				<div>Status</div>
			</th>
			<th style="width:10%">
				<div class="list-table-noborder"></div>
			</th>
		</tr>
	</thead>
	<tbody>
	@foreach (WorkItemSummary item in Model)
	{
		<tr id="list-table-row">
			<td>
				<div>@item.Title</div>
			</td>
			<td>
				<div>@Html.ActionLink(item.Id.ToString(), "View", new { id = item.Id })</div>
			</td>
			<td style="width:15%">
				<div>@item.AssignedTo</div>
			</td>
			<td>
				<div>@item.State</div>
			</td>
			<td style="width:10%">
				<div class="list-table-noborder">
					@Html.ActionLink("Edit", "Edit", new { id = item.Id })
				</div>
			</td>
		</tr>
	}
	</tbody>
</table>
<br class="clear" />