@model IEnumerable<WorkItemSummary>

<h3>Tasks (@ViewData["CurrentFilter"])</h3>
@Html.ActionLink("View as notes","Index")
<br /><br />

<!-- Excel export -->
<div class="right">
	<a href="@Url.Action("Excel")" title="Export to current list an Excel 2007 spreadsheet"><img src="@Url.Content("~/Assets/Images/excel_icon.png")" border="0" alt="Export to excel" /></a>
	<a href="@Url.Action("Rss", new { projectName = ViewData["CurrentProjectName"], 
		 areaPath = ViewData["CurrentAreaPath"].ToString().ToBase64(), 
		 iteration = ViewData["CurrentIterationPath"].ToString().ToBase64(),
		 filter = ViewData["CurrentFilter"].ToString().ToBase64()})" title="View the current list as an RSS feed">
		 <img src="@Url.Content("~/Assets/Images/rss_icon.png")" border="0" alt="RSS" />
	</a>
</div>

<table id="list-table">
	<thead>
		<tr id="list-table-header">
			<th>
				<div>@Html.ActionLink("Title", "List", new { sortBy = "Title", desc = !(bool)ViewData["desc"] })</div>
			</th>
			<th style="width:8%;">
				<div>@Html.ActionLink("ID", "List", new { sortBy = "Id", desc = !(bool)ViewData["desc"] })</div>
			</th>
			<th style="width:15%">
				<div>@Html.ActionLink("Assigned to", "List", new { sortBy = "AssignedTo", desc = !(bool)ViewData["desc"] })</div>
			</th>
			<th style="width:15%">
				<div>@Html.ActionLink("Created on", "List", new { sortBy = "CreatedDate", desc = !(bool)ViewData["desc"] })</div>
			</th>
			<th style="width:12%">
				<div>@Html.ActionLink("Status", "List", new { sortBy = "State", desc = !(bool)ViewData["desc"] })</div>
			</th>
			<th style="width:10%">
				<div class="list-table-noborder"></div>
			</th>
		</tr>
	</thead>
	<tbody>
	@foreach (WorkItemSummary item in Model)
	{
		<tr id="list-table-row">
			<td>
				<div>@item.Title</div>
			</td>
			<td>
				<div>@Html.ActionLink(item.Id.ToString(), "View", new { id = item.Id })</div>
			</td>
			<td style="width:15%">
				<div>@item.AssignedTo</div>
			</td>
			<td style="width:15%">
				<div>@item.CreatedDate.ToString("ddd dd MMM yyyy")</div>
			</td>
			<td>
				<div>@item.State</div>
			</td>
			<td style="width:10%">
				<div class="list-table-noborder">
					@Html.ActionLink("Edit", "Edit", new { id = item.Id, fromUrl = Request.Url.PathAndQuery })
				</div>
			</td>
		</tr>
	}
	</tbody>
</table>
<br class="clear" />
@Html.Partial("PagingBar", new int[] { int.Parse(ViewData["pageCount"].ToString()), int.Parse(ViewData["currentPage"].ToString()) })