@model List<WorkItemSummary>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function (){
		setupListPage();
	});
</script>

@Html.ActionLink("View as notes","Index")

<table id="workitems-table">
	<thead>
		<tr class="midbg">
			<th style="width:5%">ID</th>
			<th style="width:60%">Title</th>
			<th style="width:20%">Assigned to</th>
			<th>Status</th>
			<th>Estimated hours</th>
			<th>Priority</th>
		</tr>
	</thead>
	<tbody>
	@foreach (WorkItemSummary item in Model)
	{
		<tr>
			<td>@Html.ActionLink(item.Id.ToString(), "View", new { id = item.Id })</td>
			<td>@item.Title</td>
			<td>@item.AssignedTo</td>
			<td>@item.State</td>
			<td>@item.EstimatedHours</td>
			<td>@item.Priority</td>
		</tr>
	}
	</tbody>
</table>
<br style="clear:both" />

<div id="newitem-container">
    <div id="newitem">&gt;&nbsp;<a href="javascript:toggleNewItem()">New task</a></div>
    <div id="newitem-textbox">
        <input type="text" id="textbox-newitem" style="width:350px;" />
        <input type="button" value="Save" onclick="addTask()" />
        <input type="button" value="Cancel" onclick="toggleNewItem()" />
    </div>
</div>


@section RightContent
{
<!-- Filters -->
<div class="darkbg">
	<div class="left toggleitem"><a href="javascript:;"><img src="@Url.Content("~/Assets/Images/toggle_minus.png")" border="0" alt="Toggle" /></a></div>
	<div class="left headertitle">Filters</div>
	<br style="clear:both"/>
</div>
<div id="accordian-areas" class="padding">
	<a href="#">All</a><br />
	<a href="#">Active</a><br />
	<a href="#">Closed</a><br />
	<a href="#">Assigned to me</a><br />
	<a href="#">Today</a><br />
	<a href="#">Yesterday</a><br />
	<a href="#">This week</a><br />
</div>
}
