@model WorkItemSummary

<script type="text/javascript">
	$(document).ready(function () {
		setupEditPage();
	});
</script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "editform" }))
{
	@(Html.HiddenFor<WorkItemSummary, int>(m => m.Id))

	<div id="edit-pagename" class="mid-text">
		@ViewData["PageName"]
	</div>
	
	<div id="edit-container">
		<div id="edit-title">
			@(Html.TextBoxFor<WorkItemSummary, string>(i => i.Title, 
													new { tabindex = 1, 
													maxlength = 150,
													title = "Enter your title",
													placeholder="Enter your title" }))
		</div>

		<div id="edit-options" class="lightbg">
			<div class="edit-field">
				<div class="label">Assigned to:</div>
				<div class="value">@Html.DropDownBoxFromList("AssignedTo",(List<string>)ViewData["Users"],Model.AssignedTo,2)</div>
			</div>
		
			<div class="edit-field">
				<div class="label">State:</div>
				<div class="value">@Html.DropDownBoxFromList("State", (List<string>)ViewData["States"], Model.State,3)</div>
			</div>

			<div class="edit-field">
				<div class="label">Priority:</div>
				<div class="value">@Html.DropDownBoxFromList("Priority", (List<string>)ViewData["Priorities"], Model.Priority.Value.ToString(),4)</div>
			</div>
			<br style="clear:both"/>

			<div class="edit-field">
				<div class="label">Area:</div>
				<div class="value">@Html.DropDownBoxForAreas("AreaPath", (List<AreaSummary>)ViewData["Areas"], Model.AreaPath,5)</div>
			</div>

			<div class="edit-field">
				<div class="label">Iteration:</div>
				<div class="value">@Html.DropDownBoxForIterations("IterationPath", (List<IterationSummary>)ViewData["Iterations"], Model.IterationPath,6)</div>
			</div>
			<br style="clear:both"/>
		</div>

		<div id="edit-description">
			@(Html.TextAreaFor<WorkItemSummary, string>(i => i.Description, 
														new { tabindex = 7,
														title = "Enter a brief description. See your project template for guidance", 
														placeholder = "Enter a brief description. See your project template for guidance" }))
		</div>
		<div id="edit-buttons">
			<input type="submit" value="Save" tabindex="8" />
			<input type="button" value="Cancel" onclick="history.go(-1);" tabindex="9"  />
		</div>
	</div>
}