@model IEnumerable<WorkItemSummary>

<h2 class="dimmed">Bugs (@ViewData["CurrentFilter"])</h2>
@Html.ActionLink("View as list","Index")
<br /><br />

<table style="padding:0;border-collapse:collapse;font-family:Arial;font-size:1em;width:90%;">
	<thead>
		<tr style="background-color:#f6f6f6;color:#282828;border:1px solid #cdcdcd;">
			<th>
				<div style="padding:5px;text-align:left;margin:10px;border-right:1px solid #cdcdcd;">Title</div>
			</th>
			<th style="width:12%;">
				<div style="padding:5px;text-align:left;margin:10px;border-right:1px solid #cdcdcd;">ID</div>
			</th>
			<th style="width:15%">
				<div style="padding:5px;text-align:left;margin:10px;border-right:1px solid #cdcdcd;">Assigned to</div>
			</th>
			<th style="width:12%">
				<div style="padding:5px;text-align:left;margin:10px;border-right:1px solid #cdcdcd;">Status</div>
			</th>
			<th style="width:12%">
				<div style="padding:5px;text-align:left;margin:10px;border-right:1px solid #cdcdcd;">Priority</div>
			</th>
			<th style="width:10%">
				<div style="padding:5px;text-align:left;margin:10px;"></div>
			</th>
		</tr>
	</thead>
	<tbody>
	@foreach (WorkItemSummary item in Model)
	{
		<tr style="border-bottom:1px dashed #cdcdcd;" class="priority@(item.Priority)">
			<td>
				<div style="padding:6px;text-align:left;margin:10px;border-right:1px solid #cdcdcd;">@item.Title</div>
			</td>
			<td style="width:12%;">
				<div style="padding:6px;text-align:left;margin:10px;border-right:1px solid #cdcdcd;">@Html.ActionLink(item.Id.ToString(), "View", new { id = item.Id })</div>
			</td>
			<td style="width:15%">
				<div style="padding:6px;text-align:left;margin:10px;border-right:1px solid #cdcdcd;">@item.AssignedTo</div>
			</td>
			<td style="width:12%">
				<div style="padding:6px;text-align:left;margin:10px;border-right:1px solid #cdcdcd;">@item.State</div>
			</td>
			<td style="width:12%">
				<div style="padding:6px;text-align:center;margin:10px;">@item.Priority</div>
			</td>
			<td style="width:10%">
				<div style="padding:6px;text-align:center;margin:10px;">
					@Html.ActionLink("Edit", "Edit", new { id = item.Id })
				</div>
			</td>
		</tr>
	}
	</tbody>
</table>
<br style="clear:both" />