@model IEnumerable<WorkItemSummary>

<h3>Bugs (@ViewData["CurrentFilter"])</h3>
@Html.ActionLink("View as heat map","Heatmap")
<br /><br />

<!-- Excel export -->
<div class="right">
	<a href="@Url.Action("Excel")" title="Export to current list an Excel 2007 spreadsheet"><img src="@Url.Content("~/Assets/Images/excel_icon.png")" border="0" alt="Export to excel" /></a>
	<a href="@Url.Action("Rss")" title="View the current list as an RSS feed"><img src="@Url.Content("~/Assets/Images/rss_icon.png")" border="0" alt="RSS" /></a>
</div>

<table id="list-table">
	<thead>
		<tr id="list-table-header">
			<th>
				<div>@Html.ActionLink("Title", "Index", new { sortBy = "Title", desc = !(bool)ViewData["desc"] })</div>
			</th>
			<th style="width:8%;">
				<div>@Html.ActionLink("ID","Index",new { sortBy = "Id", desc = !(bool)ViewData["desc"]})</div>
			</th>
			<th style="width:15%">
				<div>@Html.ActionLink("Assigned to", "Index", new { sortBy = "AssignedTo", desc = !(bool)ViewData["desc"] })</div>
			</th>
			<th style="width:15%">
				<div>@Html.ActionLink("Created on", "Index", new { sortBy = "CreatedDate", desc = !(bool)ViewData["desc"] })</div>
			</th>
			<th style="width:12%">
				<div>@Html.ActionLink("Status", "Index", new { sortBy = "State", desc = !(bool)ViewData["desc"] })</div>
			</th>
			<th style="width:12%">
				<div>@Html.ActionLink("Priority", "Index", new { sortBy = "Priority", desc = !(bool)ViewData["desc"] })</div>
			</th>
			<th style="width:12%">
				<div>@Html.ActionLink("Severity", "Index", new { sortBy = "Severity", desc = !(bool)ViewData["desc"] })</div>
			</th>
			<th style="width:10%">
				<div class="list-table-noborder"></div>
			</th>
		</tr>
	</thead>
	<tbody>
	@foreach (WorkItemSummary item in Model)
	{
		<tr id="list-table-row">
			<td>
				<div>@item.Title</div>
			</td>
			<td>
				<div>@Html.ActionLink(item.Id.ToString(), "View", new { id = item.Id })</div>
			</td>
			<td style="width:15%">
				<div>@item.AssignedTo</div>
			</td>
			<td style="width:15%">
				<div>@item.CreatedDate.ToString("ddd dd MMM yyyy")</div>
			</td>
			<td>
				<div>@item.State</div>
			</td>
			<td>
				<div>@item.Priority</div>
			</td>
			<td>
				<div>@item.Severity</div>
			</td>
			<td style="width:10%">
				<div class="list-table-noborder">
					@Html.ActionLink("Edit", "Edit", new { id = item.Id, fromUrl=Request.Url.PathAndQuery })
				</div>
			</td>
		</tr>
	}
	</tbody>
</table>
<br class="clear" />
@Html.Partial("PagingBar", new int[] { int.Parse(ViewData["pageCount"].ToString()), int.Parse(ViewData["currentPage"].ToString()) })