@model WorkItemSummary
			  
<div id="item-container">
	<div id="item-header">
		<div class="left" id="item-id">#@Model.Id</div>
		<div class="left bold">@Model.Title</div>
		<div class="right" id="item-menucontainer">
			<div>
				<a href="javascript:;" id="item-actionmenulink"><img id="item-arrowimg" src="@Url.Content("~/Assets/Images/black-arrow-down.png")" border="0" alt="menu" /></a>
				@Model.State
			</div>
			<div id="item-menu">
				@Html.ActionLink("Resolve", "Resolve", new { id = Model.Id })<br/>
				@Html.ActionLink("Close", "Close", new { id = Model.Id })
			</div>
		</div>
		<br class="clear" />
	</div>
	
	<div id="item-description">
		@Html.ParseMarkdown(Model.Description)
	</div>

	@if (Model.Attachments.Count > 0)
	{
	<div id="item-attachments">	
		<b>Attachments</b>
		<ul>
		@foreach(Attachment attachment in Model.Attachments)
		{
			<li>
				<a href="@attachment.Uri.ToString()" target="_blank">@attachment.Name</a>
				@if (!string.IsNullOrEmpty(attachment.Comment))
				{
					<br /> @attachment.Comment
				}
			</li>
		}
		</ul>
	</div>
	}
	
	@if (Model.Links.Count > 0)
	{
	<div id="item-links">	
		<b>Links</b>
		<ul>
		@foreach(Link link in Model.Links)
		{
			<li>
				@Html.Partial("Links/" + link.BaseType, link)
			</li>
		}
		</ul>
	</div>
	}
	
	@if (Model.Revisions.Count > 1)
	{
	<div id="item-revisions">	
		<b>History</b>
		<ul>
		@foreach(Revision revision in Model.Revisions.Cast<Revision>().Reverse())
		{
			<li>
					@if (revision.Index == 0)
					{
						<a href="javascript:;" title="revision@(revision.Index)">Created on @revision.Fields["Changed Date"].Value by @revision.Fields["Changed By"].Value</a>
					}
					else
					{
						<a href="javascript:;" title="revision@(revision.Index)">Changed on @revision.Fields["Changed Date"].Value by @revision.Fields["Changed By"].Value</a>
					}
				<br />

				<table style="display:none;border:solid 1px #AAA;font-size:0.8em;margin:10px 0px;" id="revision@(revision.Index)">
				@foreach(Field field in revision.Fields.Cast<Field>().OrderBy(f => f.Name))
				{					
					if (Html.GetPreviousFieldValue(Model,field.Name,revision.Index) != field.Value.SafeToString())
					{
						<tr>
							<td><b>@field.Name</b></td>
							<td>@field.Value </td>
						</tr>
					}
				}
				</table>
			</li>
		}
		</ul>
	</div>
	}

	<div id="item-details">
		<div class="left">@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</div>
		<div class="right">
		Created on @Model.CreatedDate.ToString("ddd dd MMMM yyyy"). Assigned to @Model.AssignedTo
		</div>
		<br class="clear" />
	</div>
</div>