@model WorkItemSummary
			  
<div id="item-container">
	<div id="item-header">
		<div class="left" id="item-id">#@Model.Id</div>
		<div class="left bold">@Model.Title</div>
		<div class="right" id="item-menucontainer">
			<div>
				<a href="javascript:;" id="item-actionmenulink"><img id="item-arrowimg" src="@Url.Content("~/Assets/Images/black-arrow-down.png")" border="0" alt="menu" /></a>
				@Model.State
			</div>
			<div id="item-menu">
				@Html.ActionLink("Resolve", "Resolve", new { id = Model.Id })<br/>
				@Html.ActionLink("Close", "Close", new { id = Model.Id })
			</div>
		</div>
		<br class="clear" />
	</div>
	
	<div id="item-description">
		@MvcHtmlString.Create(Model.Description.Replace("\n","<br/>"))
	</div>

	<div id="item-details">
		<div class="left">@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</div>
		<div class="right">
		Created on @Model.CreatedDate.ToString("ddd dd MMMM yyyy"). Assigned to @Model.AssignedTo
		</div>
		<br class="clear" />
	</div>
</div>